    <!-- About Section -->
    <section id="about" class="container content-section" style="text-align: justify;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <!-- <h2>About Nandhitha</h2> -->
              <!-- <br/> -->
                <p> Three words to describe myself - Innovative, hardworking and geeky! I have always been passionate about technology and love developing things.</p>
                <p> In college, instead of giving my friend a traditional “Happy Birthday” card I wished her using a JavaScript animation. </p>
                <p>I always knew I wanted to be a Software Engineer and after I completed my undergrad from NIT Trichy, I had the opportunity to work with Fidelity Investments.</p>
                <p> The stint at Fidelity made me think out of the box solutions. Coupled with the practical use of my knowledge, I was able to interact with some brilliant minds. </p>
                <p>My interest began to, evolve to how to make all the products better. I started to notice different products around me, what I like, dislike, how it can be better, what is the next step for it and so on.</p>
                <p>I am now pursuing a Masters’ degree in Information Systems at New York University, to teach me business and technology, to help me design and develop the best product for a user.</p>
                <br/>
              </div>
        </div>
    </section>
 

  <!-- Hi there!
  I am Nandhitha, and I am excieted that you're here visiting my blog. 
  Here's a little bit about me 
  I love to read --- Add pic
  I love to take pictures --- Add pic
  I love technology --- Add pic -->