    <!-- About Section -->
    <section id="about" class="container content-section" style="text-align: justify;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <!-- <h2>About Nandhitha</h2> -->
              <!-- <br/> -->
              <h3>About me</h3>
                <p style="font-family:Arial, Helvetica, sans-serif; font-size: medium;">I am a Software Engineer with an interest in Product Management. I am currently pursuing my Masters in Information Systems at New York University.
                  The course has a good blend between the business and the computing school. 
                   I grew up in Bahrain, and completed my Bachelors in Computer Science in India.  
                  I also enjoy reading, painting, photography and cooking. </p>
                <br/>
              <div>

                  <div class="card">
                    <!-- <img src="img_avatar.png" alt="Avatar" style="width:100%"> -->
                    <div class="container">
                      <span style="float:left; font-size: medium;">
                        <h3>Interests</h3>
                        <ul>
                          <li>Big Data</li>
                          <li>Analytics</li>
                          <li>Digital Strategy</li>
                          <li>Computer Science</li>
                          <li>Product Management</li>
                        </ul>
                      </span>
                      <span style="float:right; font-size: medium;">
                        <h3>Skills</h3>
                        <ul>
                          <li>Django</li>
                          <li>React</li>
                          <li>Spark</li>
                          <li>Scala</li>
                          <li>Java</li>
                          <li>Python</li>
                        </ul>
                      </span>
                      <!-- <h4><b>John Doe</b></h4>
                      <p>Architect & Engineer</p> -->
                    </div>
                  </div>
                <!-- <span style="float:left; font-size: medium;">
                  <h3>Interests</h3>
                  <ul>
                    <li>Big Data</li>
                    <li>Analytics</li>
                    <li>Digital Strategy</li>
                    <li>Computer Science</li>
                    <li>Product Management</li>
                  </ul>
                </span> -->
                <!-- <span style="float:right; font-size: medium;">
                  <h3>Skills</h3>
                  <ul>
                    <li>Django</li>
                    <li>React</li>
                    <li>Spark</li>
                    <li>Scala</li>
                    <li>Java</li>
                    <li>Python</li>
                  </ul>
                </span> -->
              </div>
            </div>
        </div>
    </section>