    <!-- About Section -->
    <section id="about" class="container content-section" style="text-align: justify;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <!-- <h2>About Nandhitha</h2> -->
              <!-- <br/> -->
              <h3>About me</h3>
                <p>I am a Software Engineer, interested in Product Management. I am currently pursuing my Masters in Information Systems at New York University.
                   I grew up in Bahrain, and completed my Bachelors in Computer Science in India.  
                  I also enjoy reading, painting, photography and cooking. </p>
                <br/>
              <div>
                <div style="text-align: left;">
                  <h3>Interests</h3>
                  <p style="font-family: Calibri;">Big Data</p>
                  <p style="font-family: Calibri;">Analytics</p>
                  <p style="font-family: Calibri;">Digital Strategy</p>
                  <p style="font-family: Calibri;">Computer Science</p>
                  <p style="font-family: Calibri;">Product Management</p>
                <span style="float:right;">
                  <h3>Skills</h3>
                  <p>Django</p>
                  <p>React</p>
                  <p>Spark</p>
                  <p>Java</p>
                  <p>Python</p>
                </span>
                </div>
              </div>
            </div>
        </div>
    </section>